TRIMESTRE 2/UD7/DOSSIER/Practica 11/parrafo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="parrafo">
<xs:complexType>
	<xs:sequence>

		<xs:element name="texto">
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:integer">
						<xs:attribute name="idioma" type="xs:string" use="required"/>
						<xs:attribute name="codificacion" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
