TRIMESTRE 2/UD7/DOSSIER/Practica 3/persona.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.misitio.com" xmlns="http://www.misitio.com" elementFormDefault="qualified">

    <xs:element name="persona"> 
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/> 
                <xs:element name="apellido" type="xs:string"/> 
                <xs:element name="edad" default="18"/>
                <xs:element name="fecha" type="xs:date"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element> 
</xs:schema>

 <!-- si pongo default me dara por defecto este valor si pongo fixed lo hare para fijar valores  --!>
 
